html,
body,
.container {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}

#loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
